@import "partials/overrides";
@import "partials/header";
@import "partials/variables";

#aksha-dialogues {



	.span-01 {
		display: table-cell;
		background: #68c557;
		color: #ffffff;
		padding: 10px 48px;
		font-size: 14px;
		font-weight: bold;
		border-radius: 0px 23px 23px 0px;
	}



	img {
		margin: 0px auto;
		white-space: pre;
		font-size: 13px;
	}

	a {
		display: inline-block;
	}

	#welcome-msg {
		background: $light-grey;

		.columns {
			padding: 30px 50px!important;
		}

		p {
			@extend %paragraph;
			margin: 0px 25px;
		}
	}

	#banner {
		.img-credit {
			td {
				width: 50%;
			}

			.img-credit-td {
				background: $light-grey;
				padding: 4px;

				p {
					font-size: 10px;
					margin-bottom: 0px;
				}
			}
		}
	}

	#opinion {

		.columns {
			padding: 30px 50px!important;
		}

		h1 {
			@extend %heading;
		}

		p {
			@extend %paragraph;
			margin: 0px 25px;
			text-align: justify;
		}
	}

	#research {

		.columns {
			padding: 30px 50px!important;
		}

		.blue-bold {
			text-decoration: underline;
		}

		h1 {
			@extend %heading;
		}

		p {
			@extend %paragraph;
			margin-left: 10px;
		}

	}

	#news {
		h1 {
			@extend %heading;
		}

		.colmn {
			padding: 30px 50px !important;
		}

		p {
			@extend %paragraph;
			margin-left: 10px;
			height: 65px;
		}
	}

	#invite {
		background: $light-grey;

		.colmn{
			padding: 20px 50px!important;
		}

		p {
			@extend %paragraph;
			text-align: center;
			margin: 15px auto;
			margin-top: 0px;
		}
	}

	#footer {
		background: #303131;

		.columns {
			padding: 20px 50px!important;
		}

		p {
			@extend %paragraph;
			color: #999999;

			span {
				@extend %paragraph-small;
				color: #999999;
				display: block;
			}
		}

		.rght {
			.f {
				padding-bottom: 70px;

				img {
					max-width: 70px;
				}
			}

			.s {
				padding-bottom: 10px;

				span {
					@extend %paragraph-small;
					color: #999999;
					vertical-align: middle;
				}

				img {
					vertical-align: middle;
				}
			}

			.t {
				a {
					@extend %paragraph-small;
					color: #999999;
				}
			}
		}
	}
}