th.columns {
  padding: 0px 50px;
}

p {
  margin: 0px;
}

.body {
  margin: 0 auto;
  Margin: 0 auto;
}

.w-100 {
  display: block;
  width: 100%
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

table.body {
  width: 100%;
}

table.container {
  width: 700px;
}

td.large-4,
th.large-4 {
  padding-left: 0px;
  padding-right: 0px;
}

.ta-c{
  text-align: center;
}