$large-font-size: 15px;
$medium-font-size: 13px;
$small-font-size: 10px;

$font-weight: bold;

$light-grey: #f9f9f9;



%heading {
  font-size: $large-font-size;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 2px;
  text-align: center;
  border-bottom: 1px solid #12a9a9;
  margin-bottom: 20px;
}

%paragraph {
  font-size: $medium-font-size;
  color: #000000;
}
%paragraph-small {
  font-size: $small-font-size;
}

.blue-bold {
  font-size: $medium-font-size;
  font-weight: bold;
  color: #12a9a9;
  text-decoration: underline;
  &:hover{
    color: #12a9a9;
  }
  &:visited{
    color: #12a9a9;
  }
  &:active{
    color: #12a9a9;
  }
}

.blue {
  font-size: $medium-font-size;
  color: #12a9a9;
}

.time-to-read {
  font-size: $small-font-size;
  color: #858585;
  margin-right: 15px;
 img{
  vertical-align: middle;
  margin-right: 3px;
 }
}

.ta-right {
  text-align: right;
}

.p-tb-15 {
  padding: 15px 0px;
}

.p-tb-20 {
  padding: 20px 0px;
}

.p-tb-30 {
  padding: 30px 0px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.pr-10{
  padding-right: 10px;
}

.align-middle {
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.bdr-right {
  border-right: 1px solid #b3b3b3;
  @media only screen and (max-width: 596px) {
    border-right: none;
  }

}

.btn-black {
  color: #ffffff;
  background-color: #000000;
  font-size: $small-font-size;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 auto;
  width: 10%;
  &:visited {
    color: #ffffff;
  }
  a{
    color: #fff;
  }
}