@import "partials/header";
@import "partials/overriddes";
@import "partials/utilities";

#aksha-dialogues {

  #welcome-msg {
    .columns {
      background: #f9f9f9;

      p {
        font-size: 11px;
        padding: 30px;
        font-style: italic;
      }
    }
  }

  #banner {
    .img-credit {
      .img-credit-td {
        width: 50%;
        background: #f3f3f3;
        padding: 4px;

        p {
          font-size: 10px;
          margin-bottom: 0px;
        }
      }
    }
  }

}